<div class="row px-5 pb-5" style="width: 99vw;">
  <div class="col-12 col-sm-7 col-md-6 imageContainer mb-3">
    <img
      src="{{product.pictureUrl}}"
      alt="{{product.name}}"
      class="img-fluid"
    >
  </div>

  <div class="col-12 col-sm-5 col-md-6 mb-3 pl-sm-5">
    <div class="d-flex justify-content-start align-items-start" style="gap: 10px;">
      <h3>{{product.name}}</h3>
    </div>

    <div class="d-flex justify-content-start align-items-start" style="gap: 3px;">
      <h4 class="mr-2">Rating:</h4>
      <div class="ratings">
        <i class="fa fa-star" [class.rating-color] = "product.rating > 0"></i>
        <i class="fa fa-star" [class.rating-color] = "product.rating > 1"></i>
        <i class="fa fa-star" [class.rating-color] = "product.rating > 2"></i>
        <i class="fa fa-star" [class.rating-color] = "product.rating > 3"></i>
        <i class="fa fa-star" [class.rating-color] = "product.rating > 4"></i>
      </div>
    </div>

    <div class="d-flex justify-content-start align-items-start">
      <h4 class="mr-2">Category:</h4>
      {{product.productType}}
    </div>

    <div class="d-flex justify-content-start align-items-start">
      <h4 class="mr-2">Brand:</h4>
      {{product.productBrand}}
    </div>

    <div class="d-flex justify-content-start align-items-start">
      <h4 class="mr-2">Price:</h4>
      {{product | productPrice}}
    </div>

    <div class="d-flex justify-content-start align-items-start"  *ngIf="!!product.stock">
      <h4 class="mr-2">Stock:</h4>
      {{product.stock}}
    </div>

    <h4>Increment:</h4>

    <div class="d-flex justify-content-start align-items-start mb-2" style="gap: 10px;" *ngIf="!!product.stock">
      <i (click)="decrement()" class="fa fa-minus-circle text-warning mr-1" style="cursor: pointer; font-size: 2em"></i>
      <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity}}</span>
      <i (click)="increment()" class="fa fa-plus-circle text-warning" style="cursor: pointer; font-size: 2em"></i>
    </div>

    <button [disabled]="product.stock <= 0" (click)="addItemToBasket()" class="btn btn-outline-secondary btn-lg mb-2"  *ngIf="!!product.stock">
      {{
        product.isCrypto
        ? 'Buy: ' + (product | productPrice: quantity)
        : 'Add: ' + (product | productPrice: quantity)
      }}
    </button>

    <div class="alert alert-warning" *ngIf="!product.stock">
      Product out of stock
    </div>

    <p>{{product.description}}</p>
  </div>
</div>
