<div class="container-lg mt-2">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Welcome to my shop!</h1>
    <div class="mt-1 home-carousel">
      <carousel>
        <slide>
          <img src="assets/images/angular.png" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/netcore.png" alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/redis.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/stripe.png" alt="fifth slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/blockchain.png" alt="sixth slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/hardhat.png" alt="sixth slide" style="display: block; width: 100%;">
        </slide>
      </carousel>
    </div>
    <section class="featured">
        <p>My name is Adrian and i created this site as a business card, to showcase my web development skills. It's mean to be used for educational purposes.</p>
        <p>On the slides you can see the technology stack used for build this site</p>
        <ul class="text-warning">
          <li>
            If you want to get to know more about the technology that stands behind it, please go to
            <a href="/details">details page</a>
          </li>
          <li>
            If you wish to contact me, please go to
            <a href="/contact">contact page</a>
          </li>
        </ul>
    </section>
  </div>
</div>
