<div class="container-lg" style="padding-top: 16vh;">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Welcome to my shop!</h1>
    <div class="mt-1">
      <carousel>
        <slide>
          <img src="assets/images/angular.png" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/netcore.png" alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/redis.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/stripe.png" alt="fifth slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/blockchain.png" alt="sixth slide" style="display: block; width: 100%;">
        </slide>
      </carousel>
    </div>
    <section class="featured">
      <div class="d-flex flex-column justify-content-center align-items-center pt-4">
      <span>My name is Adrian and i created this site as a business card, to showcase my web development skills. It's mean to be used for educational purposes.</span><br>
        <span>On the slides you can see the technology stack used for build this site</span>
        <span style="color: orange;">
          <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
          If you want to get to know more about the technology that stands behind it, plese go to
          <a href="/details">details page</a>
        </span>
        <span style="color: orange;">
          <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
          If you wish to contact me, ples go to
          <a href="/contact">contact page</a>
        </span>
      </div>
    </section>
  </div>
</div>
