.featured {
  margin-top: 20px;
  min-height: 200px;
  padding: 0px 20px 0px 20px;
}

img {
  object-fit: contain;
  max-height: 400px;
  width: 100%;
}

.home-carousel {
  background-color: lightblue;
  padding: 3px;
  box-shadow: 1px 1px 3px 3px #888888;
}
