.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

img {
  object-fit: contain;
  max-height: 400px;
  width: 100%;
}

p { text-indent: 20px; }

.details-carousel {
  background-color: lightblue;
  padding: 3px;
  box-shadow: 1px 1px 3px 3px #888888;
  margin: 10px 0px 10px 0px;
}
