<div class="mt-4" *ngIf="checkoutForm" [formGroup]="checkoutForm">
  <div class="row" *ngIf="cardOrLinkPaymentSelected">
    <div class="col-12" formGroupName="paymentForm">
          <app-text-input
            [label]="'Name on card'"
            formControlName="nameOnCard">
          </app-text-input>
    </div>
  </div>
  <div class="row mb-3">
    <div #paymentForm class="col-12" style="height: 400px;">
        <div class="form-floating">
          <div #linkAuthenticationElement>
            <!--Stripe.js injects the Link Authentication Element-->
          </div>
        </div>

        <div class="form-floating">
          <div #paymentElement>
            <!--Stripe.js injects the Payment Element-->
          </div>
        </div>

        <div #paymentMessage class="hidden"></div>

        <div class="mt-3">
          <app-stepper-control
            [nextStepText]="'Submit Order'"
            [previousStepText]="'Back to Review'"
            [loading]="isLoading"
            (onNextButtonClick)="submitOrder()"
            [nextButtonDisabled]="isLoading || !paymentFormComplete"
          ></app-stepper-control>
        </div>
    </div>
  </div>
</div>


