<div class="d-flex justify-content-center">
  <div class="col-3">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      </div>

      <app-text-input
        *ngFor="let field of fields"
        formControlName="{{field.controlName}}"
        [label]="field.label"
        [type]="field.type ? field.type : ''">
      </app-text-input>

      <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
</div>
