<div class="container">
  <div class="row">
    <section class="col-3">
      <app-product-filter
        [brands]="brands"
        [types]="types"
        (filterSelected)="onFilterSelected($event)"
      ></app-product-filter>
    </section>

    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">

        <app-paging-header
          [totalCount]="shopParams.itemsCount"
          [pageSize]="shopParams.pageSize"
          [pageNumber]="shopParams.pageNumber"
        ></app-paging-header>

        <div class="form-inline" *ngIf="products">
          <input (keyup.enter)="onSearch()" type="text" class="form-control" style="width: 300px;" placeholder="Search" #search>
          <button
            (click)="onSearch()"
            class="btn btn-outline-primary my-2"
          >
            Search
          </button>
          <button (click)="onReset()" class="btn btn-outline-success my-2">Reset</button>
        </div>
      </div>

      <div class="row">
        <div class="col-4 mb-4" *ngFor="let product of products">
          <app-product-item [product]="product" [isCrypto]="true"></app-product-item>
        </div>
      </div>

      <div
        *ngIf="this.shopParams.itemsCount > 0"
        class="d-flex justify-content-center"
      >
        <app-pager
          [totalCount] = "this.shopParams.itemsCount"
          [pageSize] = "this.shopParams.pageSize"
          (pageChanged) = "this.onPageChanged($event)"
        ></app-pager>
      </div>

    </section>
  </div>
</div>
