<header *ngIf="(shopParams$ | async) as params">
  <span *ngIf="params.itemsCount > 0">
    Showing
    <strong>
      {{(params.pageNumber-1) * params.pageSize+1}} -
      {{params.pageNumber * params.pageSize
        > params.itemsCount
        ? params.itemsCount
        : params.pageNumber * params.pageSize
      }}
    </strong> of
    <strong>
      {{params.itemsCount}}
    </strong>
    Results
  </span>
  <span *ngIf="params.itemsCount === 0">
    There are <strong>0</strong> results for specified filters
  </span>
</header>
