h6 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Cabin Sketch",cursive;
  font-weight: 500;
  line-height: 1.2;
}

.btn {
  width: 30%;
  height: 40px;
}

.image :hover {
  opacity: 1;

  & button {
    transform: none;
    opacity: 1;
  }
}

.productImage {
  width: 100%;
  object-fit: fill;
  background-color: lightblue;
  box-shadow: 1px 1px 3px 3px #888888;
}

.hover-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: all 0.5s;

  & button {
    z-index: 1000;
    transition: all 0.5s;
  }

  & button:first-of-type {
    transform: translateX(-20px);
  }

  & button:last-of-type {
    transform: translateX(20px);
  }
}
