<div class="container-lg d-flex flex-column align-items-between">
  <!-- Footer --><!-- Footer -->
  <section class="d-flex flex-column justify-content-center p-4 border-bottom text-center">
    <h2>Get contact with me on social networks:</h2>

    <div>
      <a href="https://www.facebook.com/adrian.kochanski.77/" class="link-secondary text-decoration-none me-4">
        <i class="fa fa-facebook-f"></i> Facebook
      </a>
      <a href="https://www.linkedin.com/in/adrian-kocha%C5%84ski-228a32174/" class="link-secondary text-decoration-none me-4">
        <i class="fa fa-linkedin"></i> Linkedin
      </a>
      <a href="https://github.com/AdrianKochanski" class="link-secondary text-decoration-none">
        <i class="fa fa-github"></i> Github
      </a>
    </div>
  </section>

  <section class="d-flex flex-column justify-content-center p-4 text-center">
    <h2>Contact</h2>
    <p><i class="fa fa-home me-3"></i> Męcina 115, 34-654 Męcina</p>
    <p><i class="fa fa-home me-3"></i> Lubińska 26/7, 53-623 Wrocław</p>
    <p>
      <i class="fa fa-envelope me-3"></i>
      adrian.k960607@gmail.com
    </p>
    <p><i class="fa fa-phone me-3"></i> +48 734 604 238</p>
  </section>
</div>
