.cart-no {
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  font-size: 1em;
  background: blue;
  color: white;
  text-align: center;
  top: -12px;
  right: 32px;
}

a {
  text-decoration: none;
  color: #343a40;

  &.active {
    color: orange !important;
  }
}

.logo {
  cursor: pointer;
  max-height: 70px;

  &:focus {
    outline: none;
  }

  background: rgb(var(--bs-secondary-rgb));
  background: linear-gradient(5deg, rgba(var(--bs-primary-rgb),1) 30%, rgba(var(--bs-secondary-rgb),1) 60%, rgba(var(--bs-primary-rgb),1) 85%);
}
